$hc-grid-columns: 12;
$hc-grid-padding: 0;

.hc-grid {
    @include flex-none();
    @include flex-horizontal();
    flex-wrap: wrap;

    margin: rem(-$hc-grid-padding);
    overflow: hidden;
}

.hc-grid-col {
    @include flex-none();
    @include flex-horizontal();
    box-sizing: border-box;

    padding: rem($hc-grid-padding);
}

.hc-grid-row {
    @include flex-none();
    @include flex-horizontal();
    width: 100%;
    box-sizing: border-box;

    & > .hc-grid-col {
        @include flex-auto();
        flex-basis: 0;
    }
}

@for $i from 1 through $hc-grid-columns {
    .hc-grid-col.d-#{$i} {
        width: percentage($i / $hc-grid-columns);
    }
}

@include xsmall-breakpoint() {
    @for $i from 1 through $hc-grid-columns {
        .hc-grid-col.xs-#{$i} {
            width: percentage($i / $hc-grid-columns);
        }
    }
}

@include small-breakpoint() {
    @for $i from 1 through $hc-grid-columns {
        .hc-grid-col.sm-#{$i} {
            width: percentage($i / $hc-grid-columns);
        }
    }
}

@include medium-breakpoint() {
    @for $i from 1 through $hc-grid-columns {
        .hc-grid-col.md-#{$i} {
            width: percentage($i / $hc-grid-columns);
        }
    }
}

@include large-breakpoint(true) {
    .hc-grid-row {
        @include flex-vertical();

        & > .hc-grid-col {
            @include flex-none();
            width: 100%;
        }
    }
}

@include large-breakpoint() {
    @for $i from 1 through $hc-grid-columns {
        .hc-grid-col.lg-#{$i} {
            width: percentage($i / $hc-grid-columns);
        }
    }
}

@include xlarge-breakpoint() {
    @for $i from 1 through $hc-grid-columns {
        .hc-grid-col.xl-#{$i} {
            width: percentage($i / $hc-grid-columns);
        }
    }
}
