<div class="hc-of-header">
    <h1 class="hc-of-header-title">Other Insurance Questionnaire</h1>
</div>
<div class="hc-of-column">
    <form [formGroup]="insuranceForm" class="hc-of-form">
           <div class="hc-of-form-group">
                <label for="" class="hc-of-form-label"> Employee Name
                    <input class="hc-of-form-input hc-of-form-input-emp-name" type="text">

                </label>
           
                <label for="" class="hc-of-form-label"> Member Id Number
                    <input class="hc-of-form-input" type="text">
                </label>

                    <label for="" class="hc-of-form-label">Claim Number(optional)
                        <input class="hc-of-form-input" type="text">
                    </label>
                </div>

                <div class="hc-of-form-group"> 
                    <label for="" class="hc-of-form-label"> Incurred(optional)
                        <input class="hc-of-form-input" type="text">
                    </label>

                    <label for="" class="hc-of-form-label"> Account No.(optional)
                        <input class="hc-of-form-input" type="text">
                    </label>
           
                    <label for="" class="hc-of-form-label"> Group(Employer)
                        <input class="hc-of-form-input" type="text">
                    </label>
                </div>
            <button disabled="disabled">Add Carrier</button>
        <ng-template>

        </ng-template>
    </form>
</div>