@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"),
        url("/assets/fonts/open-sans-v15-latin-300.woff2") format("woff2"),
        url("/assets/fonts/open-sans-v15-latin-300.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans Regular"), local("OpenSans-Regular"),
        url("/assets/fonts/open-sans-v15-latin-regular.woff2") format("woff2"),
        url("/assets/fonts/open-sans-v15-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
        url("/assets/fonts/open-sans-v15-latin-600.woff2") format("woff2"),
        url("/assets/fonts/open-sans-v15-latin-600.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"),
        url("/assets/fonts/open-sans-v15-latin-700.woff2") format("woff2"),
        url("/assets/fonts/open-sans-v15-latin-700.woff") format("woff");
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: local("Material Icons"), local("MaterialIcons-Regular"),
        url("/assets/fonts/MaterialIcons-Regular.woff2") format("woff2"),
        url("/assets/fonts/MaterialIcons-Regular.woff") format("woff");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }

$font-family: "Open Sans", "sans-serif";
$font-size: 15;
$font-weight: 300;
$font-color: $font-primary;
